header{
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 0 20px;
    *position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--react--2);
}
header div{
    display: flex;
    align-items: center;
}
.menus img{
    width: 35px;
    height: 35px;
    margin: 0 auto;
}
p{
    font-weight: 100;
}
.boton_CV a{
    text-decoration: none;
}
.boton_CV{
    border: none;
}
.boton_CV a:hover{
    color: var(--fondo);
}
